<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icons8-plus-+-50.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Diabetes Predictor</span></h2><br>
            <div class='description'>
                <p>Healthcare for Diabetes</p><br>
    			<p>It's just a prediction 😊</p><br>
                <p>Be safe , Stay Happy</p><br>
               
    		</div>
    	</div>
             <p>Enter your details:</p><br>
        <!-- Text Area -->
        <form>
            <label for="fname"><b>First name:</b></label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname"><b>Last name:</b></label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female">
            <label for="female">Female</label>
            <input type="radio" id="others" name="gender" value="Others">
            <label for="others">Others</label>
            
       </form>
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="age" placeholder="Age (years)"><br>
                <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies"><br>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL)"><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg)"><br>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL)"><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm)"><br>
                <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function"><br>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²)"><br>
               
                

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/sushanth5d2"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/sushanth-chithaluri-764099211/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Project by Sushanth Chithaluri</p>
       </div>

    </body>
</html>
